
.lastBlockNotFirst{
}

.lastBlockNotFirst::before{
    content: "";
    background-color: grey;
    height: calc(100% - 38px);
    width: 4px;
    left: -17px;
    position: absolute;
    top: 18px;
}

.noUpLine::before{
    content:none;
}
