
.lastBlockNotFirst{
}

.lastBlockNotFirst::before{
    content: "";
    background-color: #808080a1;
    height: calc(100% - 38px);
    width: 3px;
    left: -8.5px;
    position: absolute;
    top: 18px;
}

.noUpLine::before{
    content:none;
}

/* .lastBlockNotFirst::after{
    content:"";
    position:absolute;
    display:block;
    right:-15px;
    width:30px;
    height:4px;
    background-color:#808080a1;
    top:18px;
  } */
