
.titleBlockNotFirst{
    position:relative;
}

.titleBlockNotFirst::before{
    content: "";
    background-color: #808080a1;
    height: calc(100% + 12px);
    width: 4px;
    left: -17px;
    position: absolute;
    top: -30px;
}

.noUpLine::before{
    content:none;
}
