
.titleBlockNotFirst{
    position:relative;
}

.titleBlockNotFirst::before{
    content: "";
    background-color: #808080cf;
    height: calc(100% + 12px);
    width: 3px;
    left: -8.5px;
    position: absolute;
    top: -30px;
}

.noUpLine::before{
    content:none;
}
