:root{
  height:100vh;
  overflow:hidden;
}

.App {
  text-align: center;
  height:100vh;
  overflow:hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar{
  /* width:10px; */
  background-color:transparent;
  width:5px;
  height:5px;
}


::-webkit-scrollbar-thumb{
  background-color:#ccced1;
}

.titleBlock{
  text-transform:lowercase;
  display: flex;
  text-overflow:ellipsis;
  justify-content: space-between;
  border-radius:0;
  white-space:nowrap;
  width:150px;
  height:40px;
}

.blockWithConnectors::before{
  content:"";
  background-color:grey;
  left:15px;
  height:50px;
  width:4px;
  position: absolute;
}

.blockWithConnectors::after{
  content:"";
  background-color:grey;
  right:-15px;
  height:50px;
  width:4px;
  position: absolute;
}

.blockWithConnectors button{
  height:40px;
  width:150px;
  border-radius:0;
}

.blockWithConnectors button::before{
  content:"";
  position:absolute;
  display:block;
  left:-15px;
  width:15px;
  height:4px;
  background-color:grey;
  top:18px;
}

.blockWithConnectors button::after{
  content:"";
  position:absolute;
  display:block;
  right:-15px;
  width:15px;
  height:4px;
  background-color:grey;
  top:18px;
}

