:root{
  height:100vh;
  overflow:hidden;
}

.App {
  text-align: center;
  height:100vh;
  overflow:hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar{
  /* width:10px; */
  background-color:transparent;
  width:5px;
  height:5px;
}


::-webkit-scrollbar-thumb{
  background-color:#ccced1;
}


.blockWithConnectors button{
  height:40px;
  width:200px;
  border-radius:0;
  text-align: left;
}

.queryBlock{
  position:relative;
  
}

.blockWithConnectors button::before{
  content:"";
  position:absolute;
  display:block;
  left:-15px;
  width:15px;
  height:4px;
  background-color:grey;
}


.blockWithConnectors button::after{
  content:"";
  position:absolute;
  display:block;
  right:-15px;
  width:15px;
  height:4px;
  background-color:grey;
  top:18px;
}

.addFilterButton button::after{
  content:none;
}



.nestedQueryBlock{
  position:relative;
}

.queryBuilder{
  position:relative;
}

.queryBuilder::before{
  content: "";
  position: absolute;
  height: calc(100% - 38px);
  background-color: grey;
  width: 4px;
  left: -15px;
  top: 19px;
}

/* 
.titleBlock::before{
  content: "";
  background-color: grey;
  height: calc(100% + 2px);
  width: 4px;
  left: -17px;
  position: absolute;
  top: 18px;
} */


/* .titleBlockNotFirst::before{
  height:calc(73.5%);
  
} */

/* .titleBlock > div::before{
  content: "";
  background-color: red;
  height: 4px;
  width: 17px;
  left: -17px;
  position: absolute;
  top: calc(100% + 20px);
} */




/* .titleBlock::after{
  content:"";
  background-color:grey;
  position:absolute;
  height:4px;
  width:17px;
  top:100%;
  left:-100%;
} */


/* .nestedQueryBlock::after{

} */