:root{
  height:100vh;
  overflow:hidden;
}

.App {
  text-align: center;
  height:100vh;
  overflow:hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar{
  /* width:10px; */
  background-color:transparent;
  width:5px;
  height:5px;
}


::-webkit-scrollbar-thumb{
  background-color:#ccced1;
}


#queryBuilderScaffold{
  margin-top:10px;
  height:100vh;
  padding:0;
}

#queryBuilderContainer{
  height:100%;
  width:100%;
  overflow:scroll;
  padding-left:20px;
}

.blockWithConnectors button, #open-menu-btn{
  height:40px;
  width:180px;
  border-radius:0;
  text-align: left;
  text-transform:capitalize;
  align-content: flex-start;
}

.queryBlock{
  position:relative;
  
}

.blockWithConnectors button::before{
  content:"";
  position:absolute;
  display:block;
  left:-15px;
  width:15px;
  height:4px;
  background-color:grey;
}


.blockWithConnectors button::after{
  content:"";
  position:absolute;
  display:block;
  right:-15px;
  width:15px;
  height:4px;
  background-color:grey;
  top:18px;
}

.addFilterButton button::after{
  content:none;
}



.nestedQueryBlock{
  position:relative;
}

.queryBuilder{
  position:relative;
}

.queryBuilder::before{
  content: "";
  position: absolute;
  height: calc(100% - 38px);
  background-color: grey;
  width: 4px;
  left: -15px;
  top: 19px;
}

.optionsBlock{
  width:100px;
  height: 35px;
  background-color:whitesmoke;
  text-transform: lowercase;
}

#open-menu-btn{
  background-color: #2a60d533;
  border-bottom: 2px solid #0043ff8a;
  position:relative;
  text-transform:lowercase;
  font-weight:bold;
}

#open-menu-btn::after{
  content:"";
  background-color:grey;
  position:absolute;
  display:block;
  right:-15px;
  width:15px;
  height:4px;
  background-color:grey;
  top:18px;
}

.queryOptionItem{
  width:180px;
}



